a{
	text-decoration: none;
	text-align: center;
}
header{
	background: rgb(71,71,71);
	height:7em;
	width:100%;
	position:fixed;
	top:0;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
	display:flex;
	justify-content: center;
	align-items: center;
}
header>div{
	text-align: center;
}

.header-content{
	width:100%;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	position:relative;
}
.fa-chevron-left,
.fa-chevron-right{
	box-sizing: border-box;
	cursor:pointer;
	color:white;
	transition:color 0.2s, box-shadow 0.2s ease-in-out;
	border-radius:50%;
	width:70px;
	height:70px;
	padding-top:12px;
}
.fa-chevron-left{
	padding-right:6px;
}
.fa-chevron-right{
	padding-left:6px;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover{
	cursor:pointer;
	color:#a0dfff;
	box-shadow: inset 0px 0px 0px 4px #a0dfff;
}

.header-text{
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight:800;
	letter-spacing: 0.1em;
	font-size: 1.5em;
	color:white;
	user-select: none;
}
.header-sub-text{
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.3em;
	color:white;
	letter-spacing: 0.04em;
	user-select: none;
}

@media screen and (min-width:350px) {
	.header-text{
		font-size: 2em;
	}
	.header-sub-text{
		font-size:1.8em;
	}
}

@media screen and (min-width:600px) {
	.header-text{
		font-size: 2.5em;
	}
	.header-sub-text{
		font-size:2.2em;
	}
	.header-content{
		width:600px;
	}
 }
